<h1>pagina login</h1>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="contrasena" name="password"/>
        <br/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>

<div>
    <a href="/api/sessions/github">
        registrarse con github
    </a>
</div>